<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test thread-count="5" name="Test1">
    <classes>
      <class name="testNG.Test0"/>
      <class name="testNG.Test1"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test2">
    <classes>
      <class name="testNG.Test3"/>
      <class name="testNG.Test4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
